@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
  
  body{
    font-family: 'Poppins', sans-serif;

  }

  .container {
    width: 1320px;
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    min-height: auto;
  }
  
.nav-wrapper{
    margin: 0 auto;
}


nav{
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    padding-right: 50px; 
    background-image: linear-gradient(to right top, #50effe, #00b2d8, #0078aa, #004275, #04113d);
    transition: .3s ease
}

 nav:after{
    content: '';
    clear: both;
    display: table;
} 


nav .logo{
    float: left;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 3.5rem;
    padding: 0 100px;
}

.smile{
  font-size: 2rem;
  color: #fff;
}


.fa-chevron-down{
    margin-left: 10px;
    font-size: 12px;
    transition: .4s ease;
}


 nav ul{
  list-style: none;
  position: relative;
  float: right;
  transition: all .4s ease-in-out;
  
}


nav ul li{
    display: inline-block;
    line-height: 60px; 
     /* margin: 0 5px;  */
     transition: all .4s ease-in-out;
}


 nav ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 58px;
    font-size: 16px;
    padding: 8px 15px;
} 

nav ul li a:hover{
  color:rgb(44, 248, 248); 
}  



/*sub menu properties*/

nav ul ul{
    position: absolute;
    opacity: 0;
    visibility: hidden;  
    top: 90px; 
    transition: all .3s ease;
}

nav ul ul ul{
    border-top: none;
}

nav ul li:hover > ul{
    top: 60px;
    opacity: 1;
    visibility: visible;
}

nav ul li:hover .fa-chevron-down{
  transform: rotate(180deg);
}

 nav ul li:hover{
   background: #004275; 
}  


nav ul li li{
  background: #004275; 
 }
 

nav ul ul li{
    width: 180px;
    float: none;
    display: list-item;
    position: relative;
    margin: 0px;
    border-bottom: 1px solid rgba(20, 19, 19, 0.3);
    border-right: 1px solid rgba(0,0,0,0.3); 
} 


nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 180px;
} 

.mobile-view,
 nav label .checkbtn, input{
    display: none;
  }


 .fa-chevron-down{
  color: rgba(255, 0, 0, 0.473);
} 

.cover__page{
  width: 100%;
  height: 100vh;
  background-image: url(./pexels1.jpeg);
  background-repeat: no-repeat;
  background-size: cover; 
}


/*
=== media querry ===
*/

@media all and (max-width: 1037px){

  /*=============== humburger properties ===============*/

  nav label .checkbtn{
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    min-height: 30px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
  } 

  .hamburger {
    position: absolute;
    width: 30px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background: transparent;
}


.hamburger span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: block;
    transition: all .3s ease-in-out;
    background: transparent; 
}

.hamburger span:nth-child(1),
.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
    position: absolute;
    width: 100%;
    height: 3px;
    display: block;
    border-radius: 1px;
    background: #fff;
}


.hamburger span:nth-child(1) {
    top: 0;
    transform-origin: 0px;
}


.hamburger span:nth-child(2) {
    top: 8px;
    -webkit-transition: .5s width;
    transition: .3s width;
}


.hamburger span:nth-child(3) {
    top: 16px;
    transform-origin: 0px;
}

/* humburger animations for swapping the spans */

#btn-menu{
    display: none;
}

#btn-menu:checked ~ label .hamburger span:nth-child(1) {
    transform: rotate(33deg);
    left: 3px;
}

#btn-menu:checked ~ label .hamburger span:nth-child(2) {
    width: 0;
}

#btn-menu:checked ~ label .hamburger span:nth-child(3) {
    transform: rotate(-33deg);
    left: 3px;
}

/*========================================================*/


  nav{
  padding-right: initial !important;
  }


  nav .logo{
    padding-left: 20px;
    width: 100%;
  }


  nav ul{
   width: 100%;
   left: -100%;
   margin-right: 0px;
   transition: .3s ease-in;   
  } 

  .mobile-view + a, ul{
    position: absolute;
    visibility: hidden; 
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms; 
    transition: .3s ease-in;  
  }

  @keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} 

  [id^=btn-menu]:checked  ~ ul, 
  [id^=check]:checked  ~ ul {
    visibility: visible; 
    display: block;  
    opacity: 1;  
    left: 0;
    animation: fade 1s; 
  } 

  [id^=check]:checked ~ label.mobile-view > .fa-chevron-down::before{
     content: "\f077"; 
  }
  

  nav ul li,
  nav ul ul li{
    display: block;
    width: 100% !important;
    /* padding-left: 40px; */
    background: rgba(0, 0, 0, 0.5); 
}

 .mobile-view{
    display: block;
    color: white;
    font-size: 16px;
    padding: 0 20px;
    line-height: 3rem;
    cursor: pointer;
} 

  .mobile-view:hover{
    color:rgb(44, 248, 248); 
  }


  nav ul li:hover .fa-chevron-down{
    transform: initial !important;
  } 
  
 
  nav ul li:hover{
   background: initial; 
 }  

  nav ul ul{
    border-top: 0px;
    float: none;
    position: static;
    display: none;  
    opacity: 1; 
    margin-left: 80px; 
  }

    nav ul ul a{
    padding-left: 20px;
    line-height: 1rem;
    display: block;
    border-radius: 5px;
    /* background: rgba(255, 255, 255, 0.055);  */
  } 

  
  nav ul ul ul li{
    position: static;
  }

  nav ul ul li, nav ul ul{
    border-bottom: 0px;
    background: none;
  }


  nav ul li a, .mobile-view {
  font-size: 18px;
  }

} 
 
